/**
 * DokuWiki Plugin Code Prettifier
 */

div.plugin_codeprettify {
    margin-bottom: 0;
    margin-left: 2em;
    padding: 0;
    font-size: 90%;
}
div.plugin_codeprettify p {
    margin: 0;
}
div.plugin_codeprettify + pre {
    margin-top: 0 !important;
}


.prettyprint-wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * put line numbers on every line instead of just every fifth line
 */
pre.prettyprint ol.linenums {
    list-style-position: outside;
}

pre.prettyprint ol.linenums > li.L0 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L1 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L2 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L3 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L4 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L5 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L6 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L7 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L8 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L9 { list-style-type: decimal; }


.code-toolbar,
pre.code,
pre.file,
pre.prettyprint {
    position: relative;
}


.code-toolbar.copied:before,
pre.code.copied:before, 
pre.file.copied:before, 
pre.prettyprint.copied:before {
   content: "Copied!";
   text-align: right;
   right: 36px;
   top: 8px;
   position: absolute;
   color: #fff;
   z-index: 100;
   font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
   font-size: 13px;
}

.code-toolbar:hover .codeclipboard_button,
pre.prettyprint:hover .codeclipboard_button,
pre.code:hover .codeclipboard_button,
pre.file:hover .codeclipboard_button {
    opacity: .7;
}

/*Copy to clipboard button*/
div.codeclipboard_button {
 width: 24px;
 height: 24px;
 position: absolute;
 right: 5px;
 top: 5px;
 z-index: 100;
 background: url('/lib/tpl/bootstrap3/iconify.php?icon=mdi-content-copy.svg&color=%23fff');
 background-size: cover;
 opacity: 0;
 transition: 0.2s ease-in-out;
}

.code-toolbar:hover .codeclipboard_button:hover,
pre.prettyprint:hover .codeclipboard_button:hover,
pre.code:hover .codeclipboard_button:hover,
pre.file:hover .codeclipboard_button:hover
{
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}