pre.prettyprint ol.linenums {
    /*padding-left: 2.5em;*/
    list-style-position: outside;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint, pre.code, pre.file { display: block; background-color: #333; color: #fff; } /*#272822*/
pre .nocode { background-color: none; color: #000 }
pre .str { color: #e3dd73 } /* string  - yellow */
pre .kwd { color: #8fd8ef; font-style: bold } /*keyword - blue italic*/
pre .com { color: #73715e } /* comment - grey */
pre .typ { color: #b8e336 } /* type    - lightgreen */
pre .lit { color: #a17cff } /* literal - purple */
pre .pun { color: #f8f8f2 }    /* punctuation - white */
pre .pln { color: #f8f8f2 }    /* plaintext - white */
pre .tag { color: #d9246e;  font-weight: bold} /* html/xml tag    - red */
pre .atn { color: #b8e336; font-weight: bold } /* attribute name  - green */
pre .atv { color: #e3dd73 } /* attribute value - yellow */
pre .dec { color: #a17cff } /* decimal         - puple */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }


@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

/*inline code*/
code {
  color: #d9246e;
  background-color: #e1e1e1;
}